{% set config = namespace(changed=false) %}
{% for epel_repository in epel_repositories %}
{% set epel_suffix = epel_repository.section
                     | regex_replace("-", "_")
                     | regex_replace("^epel(.*)", "\\1") %}
{% set fact_key = epel_suffix[1:] %}
{% set epel_enabled_var_name = "epel%s_enabled" | format(epel_suffix) %}
{% set epel_repository_enabled =
         lookup("ansible.builtin.vars", epel_enabled_var_name, default=false) %}
{% if fact_key | length > 0 %}
{% set fact_key = fact_key + "_enabled" %}
{% else %}
{% set fact_key = "enabled" %}
{% endif %}
{% if ansible_local.epel[fact_key] | default(none) != epel_repository_enabled %}
{% set config.changed = true %}
{% endif %}
{% endfor %}

{% if epel_management | bool
      and (ansible_local.epel is undefined
           or (ansible_local.epel is defined and epel_state == "absent")
           or epel_state == "force"
           or epel_state != ansible_local.epel.state
           or config.changed) %}
true
{% else %}
false
{% endif %}
